

h1{

font-family:Oswald Medium, sans-serif;
font-weight: bold, 14px;
color: #4d908e;
letter-spacing: 1px;
text-align: center;
}

body {
	margin-top: 10px;
	margin-right: 100px;
	margin-bottom: 10px; 
	margin-left: 10px;
}
.byline {font-family: pensum, sans-serif;
font-size: 12.5px;
font-style: italic;
}

.photo
{ width: 100% }

.photo-caption
{color: gray
font-size: 14px
margin-top:0px}}

.graph{margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
	margin-left: 0px;}

.story-copy {
font-family: Montserrat,sans-serif;
letter-spacing: 1px;
text-align: left; 
padding-left: 0px;
padding-right: 100px;	
padding-top: 20px;
padding-bottom: 20px;
margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px; 
	margin-left: 0px;} 

.paragraph3 {font-family: Montserrat,sans-serif;
letter-spacing: 1px;
text-align: left; 
margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px; 
	margin-left: 0px;} 

.graph4 {font-family: Montserrat,sans-serif;
letter-spacing: 1px;
text-align: left;
margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px; 
	margin-left: 0px;

}